$primary-color: #444;
//$secondary-color: #eece1a; 
$secondary-color: #f6c90e;


@mixin easeOutEffect {
    transition: all 1.5s ease-out;
}


@function set-text-color($color){
    @if (lightness($color) > 40){
        @return #000; 
    }@else{
        @return #eeeeee; 
    }
}



@mixin mediaSm{
    @media screen and (max-width: 500px){
        @content;       
    }
}

@mixin mediaMd{
    @media screen and(max-width: 768px){
       @content; 
    }
}


@mixin mediaLg{
    @media screen and(min-width: 769px) and (max-width: 1170){
       @content; 
    }
}

@mixin mediaXl{
    @media screen and(min-width: 1171px){
       @content; 
    }
}


@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }