
.menu-btn{
    position: absolute;
    z-index: 5;
    right: 35px;
    top: 35px;
    cursor: pointer;
}

.menu{
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.95;
    visibility: hidden;

    &.show{
        visibility: visible;
    }

    &-branding, &-nav{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    &-nav{
        margin: 0;
        padding: 0;
        background: darken($primary-color, 10);
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include easeOutEffect;

        &.show{
            transform: translate3d(0, 0, 0);
        }
    }

    &-branding{
        background: darken($primary-color, 5);
        @include easeOutEffect;
        transform: translate3d(0, +100%, 0);

        &.show{
            transform: translate3d(0, 0, 0);
        }

        .portrait{
            height: 250px;
            width: 250px; 
            background: url('../img/mahesh-portrait.jpg');
            border: 3px solid $secondary-color;
            border-radius: 50%;
        }
    }

    .nav-item{
        transform: translate3d(600px, 0, 0);
        @include easeOutEffect;
        &.show{
            transform: translate3d(0, 0, 0);
        }

        &.current > a{
            color: $secondary-color;
        }
    }

    .nav-link{
        position: relative;
        display: inline-block;
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 1rem 0;
        color:set-text-color($primary-color);
        @include easeOutEffect;

        &:hover{
            color: $secondary-color;
        }

    }
}


//Change if number of nav items increases/decreases
@for $i from 1 through 4{
    .nav-item:nth-child(#{$i}){
        transition-delay: $i * 0.15s;
    }
}